<%= render "shared/remote_modal", title: "通知一覧" do %>
  <div class="container mx-auto w-full sm:px-10 py-5">
    <div class="flex flex-col p-5 justify-center items-center">
      <% if @notifications.present? %>
        <%= render @notifications %>
      <% else %>
        通知はありません
      <% end %>
    </div>
  </div>
<% end %>