<%= link_to "https://twitter.com/share?url=#{post_profile_url(@user)}&text=#{@user.name}さんのプロフィール%0a%0a%23インク沼%20%23iroGraphica", title: "Xでシェア", class: "btn btn-neutral gap-0 w-[110px]" do %>
  <i class="fa-brands fa-x-twitter text-[16px]"></i></i><span class="text-[16px]">でシェア</span>
<% end %>