<%= render "shared/remote_modal", title: @title do %>
  <div class="container mx-auto w-full sm:px-10 py-5">
    <div class="flex flex-col p-5 justify-center items-center">
      <% if @users.present? %>
        <%= render @users %>
      <% end %>
    </div>
    <%= render "shared/load_more_button" %>
  </div>
<% end %>
