<% flash.each do |message_type, message| %>
  <div role="alert" class="alert alert-<%= flash_type(message_type) %>">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 shrink-0 stroke-current"
      fill="none"
      viewBox="0 0 24 24">
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="<%= flash_path(message_type) %>" />
    <span><%= message %></span>
  </div>
<% end %>