<div data-loading-target="load" class="fixed inset-0 flex items-center justify-center bg-white bg-opacity-40">
  <div class="h-[50px] w-[50px] flex items-center justify-center">
    <span class="loading loading-dots loading-lg text-primary"></span>
  </div>
</div>