<ul class="menu bg-base-100 rounded-box w-max sm:w-1/3 px-0 sm:px-5">
  <li>
    <% if @brands.present? %>
      <% @brands.each do |brand| %>
        <details>
          <summary id="brand-name"><%= brand.name %>（<%= brand.products.count %>）</summary>
          <ul>
            <% brand.products.order(:id).each do |product| %>
              <li><%= link_to "#{product.name}（#{product.reviews.count}）", product_path(product), id: "product-name", class: "link link-primary" %></li>
            <% end %>
          </ul>
        </details>
      <% end %>
    <% else %>
      <div>メーカーがありません</div>
    <% end %>
  </li>
</ul>
