<p><%= @resource.email %>様</p>

<p>いつもiroGraphicaをご利用いただきまして誠にありがとうございます。</p>

<p>パスワードの再設定を承りました。</p>
<p>お手数ですが、以下のURLから手続きを進めてください。</p>

<p><%= link_to 'パスワード変更手続きはこちら', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>本メールを受け取られましたら、すぐに再設定をおこなってください。</p>
<p>パスワード変更リンクの有効期限は6時間です。</p>
