<div class="container px-5 py-10 mx-auto">
  <div class="lg:w-4/5 mx-auto flex flex-wrap items-center justify-center">
    <div class="flex flex-col lg:w-1/2 items-center justify-center">
        <div class="skeleton w-[300px] sm:w-[350px] h-[300px] sm:h-[350px]"></div>
        <div class="flex w-[300px] sm:w-[350px] mt-1 gap-3">
          <div class="skeleton w-[60px] sm:w-[80px] h-[60px] sm:h-[80px]"></div>
          <div class="skeleton w-[60px] sm:w-[80px] h-[60px] sm:h-[80px]"></div>
          <div class="skeleton w-[60px] sm:w-[80px] h-[60px] sm:h-[80px]"></div>
          <div class="skeleton w-[60px] sm:w-[80px] h-[60px] sm:h-[80px]"></div>
        </div>
      <div class="mt-5 mx-auto">
        <div class="skeleton h-[48px] w-[300px] sm:w-[350px]"></div>
      </div>
    </div>
    <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
      <div class="skeleton h-[36px] w-full mb-1"></div>
      <div class="flex">
        <div class="skeleton h-10 w-10 shrink-0 rounded-full"></div>
        <div class="flex ml-auto items-center justify-center">
          <div class="skeleton h-4 w-20"></div>
        </div>
      </div>
      <div class="flex mb-4 mt-1 gap-2">
        <div class="skeleton h-[36px] w-20"></div>
      </div>
        <div class="flex flex-col gap-2">
        <div class="skeleton h-4 w-full"></div>
        <div class="skeleton h-4 w-full"></div>
        <div class="skeleton h-4 w-full"></div>
        <div class="skeleton h-4 w-full"></div>
        <div class="skeleton h-4 w-full"></div>
      </div>
      <div class="flex flex-col gap-2 justify-start mt-6 pb-5 border-t-2 border-gray-100 mb-5">
        <div class="skeleton h-4 w-28"></div>
        <div class="skeleton h-4 w-28"></div>
        <div class="skeleton h-4 w-28"></div>
      </div>
    </div>
  </div>
</div>
