<%= turbo_frame_tag "reviews" do %>
  <div class="flex flex-wrap justify-center items-center px-5 sm:p-5 gap-5">
    <% if @reviews.present? %>
      <%= render @reviews %>
    <% else %>
      <div><%= t('reviews.index.without_review') %></div>
    <% end %>
  </div>
  <%= render "shared/load_more_button" %>
<% end %>
