<div class="navbar bg-base-100 border-b border-[#9CACDC] h-[90px]">
  <div class="flex-1">
    <%= link_to '/' do %>
      <%= image_tag 'logo_default3.png', class: 'h-[70px] w-[184px] object-contain' %>
    <% end %>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><%= link_to 'ログイン', '#' %></li><span class="w-[1px] bg-black"></span><li><%= link_to '新規登録', '#' %></li>
    </ul>
  </div>
</div>